/*importing Poppins Font*/
@import url('../fonts/font.css');

/*Variables*/
:root {
    --dark:  #1F1F1F;
    --lighter-dark: #2a2a2a;
    --wheat: #FCBBA4;
    --pink: #F1DDC9;
    --darker-wheat: #d39c89;
}

/*Css Reset*/
img {pointer-events: none;}
button {cursor: pointer;}
a {text-decoration: none !important;margin-bottom: 0 !important;}
ul,ol, li {margin: 0 !important;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px;
    background-color: var(--dark) !important;
    font-weight: 400;
    scroll-behavior: smooth;
}

/*Styles*/
.dv-bg-lighter-dark {background-color: var(--lighter-dark);}
.dv-overflowx-hidden {overflow-x: hidden;}
.dv-transition {transition: .3s;}
.dv-bg-none {background-color: unset;}
.dv-ptb-1 {padding-bottom: 1rem !important;padding-top: 1rem !important;}
.dv-ptb-5 {padding-bottom: 5rem !important;padding-top: 5rem !important;}
.dv-prl-3 {padding-right: 3rem !important;padding-left: 3rem !important;}
.dv-minh-10vh {min-height: 10vh;}
.dv-minh-90vh {min-height: 90vh;}
.dv-text-wheat {color: var(--wheat) !important;}
.dv-object-fit {object-fit: cover;}
.dv-grid-row-2 {grid-row: span 2;}
.dv-grid-col-3 {grid-column: span 3}
.dv-grid-col-2 {grid-column: span 2;}
.dv-wheat-pipe-content {top: 4rem;left: 7rem;}
.dv-wheat-pipe-content.dv-diffrent {left: 10rem !important;top: 5rem !important;}
.dv-mb-20 {/* margin-bottom: 20rem; */}
.aspect-ratio {aspect-ratio: 1/1;}
.dv-grid-tc-4 {grid-template-columns: repeat(4, 1fr);}
.dv-grid-tc-3 {grid-template-columns: repeat(3, 1fr);}
.dv-fourth-section-bottom .dv-fourth-section-bottom-item {height: 370px;}
.dv-fourth-section-bottom .dv-fourth-section-bottom-item:nth-of-type(1){background-image: url("../img/fourth-section/img-1.png");}
.dv-fourth-section-bottom .dv-fourth-section-bottom-item:nth-of-type(2){background-image: url("../img/fourth-section/img-2.png");}
.dv-fourth-section-bottom .dv-fourth-section-bottom-item:nth-of-type(3){background-image: url("../img/fourth-section/img-3.png");}
.dv-fourth-section-bottom .dv-fourth-section-bottom-item:nth-of-type(4){background-image: url("../img/fourth-section/img-4.png");}
.dv-bg-cover {background-size: cover !important;}
.dv-left-0 {left: 0;}
.dv-third-section-slider > a:first-of-type {background-image: url("../img/third-section/img-1.png");height: 400px;}
.dv-third-section-slider > a:nth-of-type(2) {background-image: url("../img/third-section/img-2.png");}
.dv-third-section-slider > a:nth-of-type(3) {background-image: url("../img/third-section/img-3.png");height: 300px;}
.dv-third-section-slider > a:nth-of-type(4) {background-image: url("../img/third-section/img-4.png");}
.dv-third-section-slider > a:nth-of-type(5) {background-image: url("../img/third-section/img-5.png");}
.dv-w-35 {width: 35%;}
.dv-w-65 {width: 65%;}
.dv-fw-bold {font-weight: 700 !important;}
.dv-fw-light {font-weight: 400 !important;}
.dv-fw-normal {font-weight: 600 !important;}
.dv-header-link.active {color: var(--wheat) !important;font-weight: 700 !important;}
.dv-no-bg {background-image: none !important;}
.dv-home-defualt-swipers-with-space.swiper {padding: 2rem;}
.dv-third-section-slider > a:first-of-type > .dv-wheat-pipe-content.dv-diffrent {top: 10rem !important;}
.dv-shop-page-pipe-content {left: 10rem;}
.swiper-pagination{position: static !important;width: auto !important;}
.swiper-pagination-bullet{width: 5px !important;height: 5px !important;background-color: #ffffff !important;}
.swiper-pagination-bullet-active {background-color: white !important;}
.swiper-button-prev:after{background-image: url("../img/icons/icon-left-arrow.svg") !important;}
.swiper-button-next:after{background-image: url("../img/icons/icon-arrow-right.svg") !important;}
.dv-pointer-event-none {pointer-events: none;}
.dv-bg-wheat{background-color: var(--wheat) !important;}
.dv-header-links {z-index: 1000;transform: translateX(-30px)}
.dv-bg-dark  {background-color: rgba(0,0,0,.2);}
#dv-nav-dark-bg[data-opened='false'],#dv-nav[data-opened='false']{left: -100%;}
#dv-nav-dark-bg[data-opened='true'], #dv-nav[data-opened='true']{left: 0;}
.dv-scroll-hidden::-webkit-scrollbar{display: none !important;}
.dv-scroll-hidden::-moz-viewport-scroll{display: none !important;}
.dv-mr-1 {margin-right: 1rem;}
.dv-fs-73 {font-size: 73px;}
.dv-bg-body-dark {background-color: var(--dark);}
.dv-nav-header-links > li.active button {background-color: var(--lighter-dark) !important;color: var(--wheat) !important;}
.dv-shop-page-slider .swiper-slide {aspect-ratio: 1/1.5;}
.dropdown-menu.show {display: flex !important;animation: drop-down-show .5s;}
.dv-category-slide:first-of-type {background-image: url('../img/category/img-1.png');}
.dv-category-slide:nth-of-type(2) {background-image: url('../img/category/img-2.png');}
.dv-category-slide:nth-of-type(3) {background-image: url('../img/category/img-3.png');}
.dv-h-90-vh {height: 90vh !important;}
section.dv-home-first-section:not(.dv-projects-first-section):first-of-type .dv-home-defualt-swipers .swiper-slide {background-image: url("../img/first-section/img-1.png");}
.dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(1), .dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(5) {background-image: url('../img/shop-page/img-1.png');}
.dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(2), .dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(6) {background-image: url('../img/shop-page/img-2.png');}
.dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(3), .dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(7) {background-image: url('../img/shop-page/img-3.png');}
.dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(4), .dv-shop-page-slider.dv-shop .swiper-slide:nth-of-type(8) {background-image: url('../img/shop-page/img-4.png');}
.dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(1), .dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(5) {background-image: url('../img/third-section/img-1.png');}
.dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(2), .dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(6) {background-image: url('../img/third-section/img-2.png');}
.dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(3), .dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(7) {background-image: url('../img/third-section/img-3.png');}
.dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(4), .dv-shop-page-slider.dv-projects .swiper-slide:nth-of-type(8) {background-image: url('../img/third-section/img-4.png');}
.swiper-button-prev:after,.swiper-button-prev:after,.swiper-button-prev:after, .swiper-button-prev:after,
.swiper-button-next:after,.swiper-button-next:after,.swiper-button-next:after, .swiper-button-next:after{
    content: '' !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 1/1 !important;
    width: 5rem !important;
}

.dv-wheat-pipe {
    background-color: var(--wheat);
    width: 3px !important;
    min-height: 30vh !important;
    left: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.dv-category-slide, body > section:not(.dv-projects-first-section):first-of-type .dv-home-defualt-swipers .swiper-slide {
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: right;
}

.dv-fifth-section .swiper-slide:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    padding: 1rem;
    transform: translateY(-20px) translateX(-20px);
    z-index: -1;
}

.dropdown-menu:before {
    content: '' !important;
    aspect-ratio: 1/1 !important;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--wheat);
    transform: translateX(10px);
}

/*Hover And Active, ...*/
.dv-hover-text-wheat:hover {color: var(--wheat) !important;}
.dv-hover-path-wheat:hover path{fill: var(--wheat);}
.dv-hover-bg-wheat:hover {background-color: var(--wheat) !important;}
.dv-bg-hover-wheat-darker:hover{background-color: var(--darker-wheat) !important;}
.dv-bg-focus-wheat-darker:focus{background-color: var(--darker-wheat) !important;}
.dv-hover-bg-lighter-dark:hover {background-color: var(--lighter-dark);}
.dv-text-hover-wheat-darker {color: var(--darker-wheat) !important;}

/*Animations*/
@keyframes drop-down-show { from {opacity: 0;} to {opacity: 1;} }

/*Media Querys*/
@media (max-width: 991px) {
    #dv-nav {padding: 1rem !important;}
    .dv-category-slide > div:first-of-type{width: 100% !important;}
    .dv-wheat-pipe {min-height: 100% !important;position: static !important;}
    .dv-wheat-pipe-content.position-absolute{left: 0;position: static !important;}
    .dv-third-section-slider > a:first-of-type > .dv-wheat-pipe-content.dv-diffrent,
    .dv-wheat-pipe-content a.dv-diffrent {top: 0 !important;left: 0 !important;}
    .dv-mb-20 {margin-bottom: 0 !important;}
    .dv-prl-3, .dv-ptb-5 {padding: 1rem !important;}
    header > a {display: none !important;}
    header > div.w-25 {width: 50% !important;}
    .dv-header-links-holder.justify-content-evenly {justify-content: space-between !important;}
    .dv-second-section-main {grid-template-columns: repeat(3, 1fr);}
    .dv-second-section-main > .dv-grid-col-3{grid-column: span 2;}
    .dv-second-section-main > .dv-grid-row-2{grid-row: span 1;}
    .dv-third-section-slider {grid-template-columns: repeat(2, 1fr);}
    .dv-fourth-section-bottom > div:first-of-type{display: flex;flex-direction: column;}
    .dv-fourth-section-bottom > div:first-of-type > a{width: 100% !important;}
    .dv-third-section-slider > a{height: 300px;}
    .dv-fifth-section > main {display: flex;flex-direction: column;}
    .dv-fifth-section > main > div {width: 100% !important;}
    footer > div:first-of-type > div, footer > div:first-of-type > div > ul{flex-direction: column;align-items: start !important;justify-content: start !important;}
    footer > div:first-of-type > div > a.position-absolute{position: static !important;}
    footer > div:first-of-type > div > ul{gap: 1rem !important}
    footer > div:first-of-type > div > a{margin-bottom: 1rem;}
    #dv-nav {width: 50% !important;}

    body > section:first-of-type .dv-home-defualt-swipers .swiper-slide {
        background-size: cover !important;
        justify-content: start !important;
    }
}

@media (max-width: 767px) {
    header > ul.d-inline-flex {display: none !important;}
    header > div.w-25 {width: 100% !important;}
    .dv-fourth-section-bottom > div:last-of-type{grid-template-columns: repeat(2, 1fr);}
    .dv-fourth-section-bottom > div:last-of-type > a:last-of-type{grid-column: span 2}
    .dv-header-links-holder.d-inline-flex {display: none !important;}
    .dv-second-section-main {grid-template-columns: repeat(2, 1fr);}
    .dv-second-section-main > .dv-grid-col-3{grid-column: span 1;}
    .dv-second-section-main > .dv-grid-row-2{grid-row: span 1;}
    .dv-second-section-main > img:last-of-type{grid-column: span 2;}
    .dv-nav-header-links.d-none {display: block !important;}
    #dv-nav {width: 75% !important;}
}

@media (max-width: 575px) {
    .dv-second-section-main, .dv-fourth-section-bottom {grid-template-columns: repeat(1, 1fr);}
    .dv-second-section-main > img:last-of-type{grid-column: span 1;}
    footer > div > div > ul.justify-content-between {justify-content: center !important;}
    footer > div > div > ul.align-items-center {align-items: start !important;}
    footer > div > div > ul{gap: 1rem !important}
    .dv-fourth-section-bottom > div:last-of-type{grid-template-columns: repeat(1, 1fr);}
    .dv-fourth-section-bottom > div:last-of-type > a:last-of-type{grid-column: span 1}
    .dv-third-section-slider.d-grid, footer > div > div > ul{
        display: flex !important;
        flex-direction: column !important;
    }
}