/*importing Poppins Font*/
@import url('../fonts/font-poppins.css');

/*Variables*/
:root {
    --dark:  #1F1F1F;
    --lighter-dark: #2a2a2a;
    --wheat: #FCBBA4;
    --pink: #F1DDC9;
}

/*Css Reset*/
img {pointer-events: none;}
button {cursor: pointer;}
a {text-decoration: none !important;}
ul,ol, li {margin: 0 !important;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px;
    background-color: var(--dark) !important;
    scroll-behavior: smooth;
}

/*Styles*/
.dv-bg-lighter-dark {background-color: var(--lighter-dark);}
.dv-transition {transition: .3s;}
.dv-bg-none {background-color: unset;}
.dv-fs-15 {font-size: 15px;}
.dv-ptb-1 {padding-bottom: 1rem !important;padding-top: 1rem !important;}
.dv-ptb-5 {padding-bottom: 5rem !important;padding-top: 5rem !important;}
.dv-prl-3 {padding-right: 3rem !important;padding-left: 3rem !important;}
.dv-minh-10vh {min-height: 10vh;}
.dv-minh-90vh {min-height: 90vh;}
.dv-fs-4vw {font-size: 4vw;}
.dv-fs-1vw {font-size: 1vw;}
.dv-text-wheat {color: var(--wheat) !important;}
body > section:first-of-type .swiper-button-prev:after ,
body > section:first-of-type .swiper-button-next:after {font-size: 20px !important;}
.dv-object-fit {object-fit: cover;}
.dv-grid-row-2 {grid-row: span 2;}
.dv-grid-col-3 {grid-column: span 3}
.dv-grid-col-2 {grid-column: span 2;}
.dv-wheat-pipe-content {top: 4rem;left: 7rem;}
.dv-wheat-pipe-content.dv-diffrent {left: 10rem !important;top: 5rem !important;}
.dv-mb-20 {margin-bottom: 20rem}
.aspect-ratio {aspect-ratio: 1/1;}
.dv-grid-tc-4 {grid-template-columns: repeat(4, 1fr);}
.dv-grid-tc-3 {grid-template-columns: repeat(3, 1fr);}
.dv-fourth-section-bottom > a {height: 370px;}
.dv-fourth-section-bottom > a:first-of-type{background-image: url("../img/fourth-section/img-1.png");}
.dv-fourth-section-bottom > a:nth-of-type(2){background-image: url("../img/fourth-section/img-2.png");}
.dv-fourth-section-bottom > a:nth-of-type(3){background-image: url("../img/fourth-section/img-3.png");}
.dv-fourth-section-bottom > a:nth-of-type(4){background-image: url("../img/fourth-section/img-4.png");}
.dv-bg-cover {background-size: cover;}
.dv-third-section-slider > a:first-of-type {background-image: url("../img/third-section/img-1.png");height: 400px;}
.dv-third-section-slider > a:nth-of-type(2) {background-image: url("../img/third-section/img-2.png");}
.dv-third-section-slider > a:nth-of-type(3) {background-image: url("../img/third-section/img-3.png");height: 300px;}
.dv-third-section-slider > a:nth-of-type(4) {background-image: url("../img/third-section/img-4.png");}
.dv-third-section-slider > a:nth-of-type(5) {background-image: url("../img/third-section/img-5.png");}
.dv-w-35 {width: 35%;}
.dv-w-65 {width: 65%;}
.dv-header-link.active {color: var(--wheat) !important;}
.dv-home-defualt-swipers-with-space.swiper {padding: 2rem;}
.dv-third-section-slider > a:first-of-type > .dv-wheat-pipe-content.dv-diffrent {top: 10rem !important;}
body > section:first-of-type .swiper-button-prev ,
body > section:first-of-type .swiper-button-next{
    position: static !important;
    margin-top: 0 !important;
    color: white !important;
}

.dv-wheat-pipe {
    background-color: var(--wheat);
    width: 3px !important;
    min-height: 30vh !important;
    left: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

body > section:first-of-type .dv-home-defualt-swipers .swiper-slide {
    background-image: url("../img/first-section/img-1.png");
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: right;
}

.dv-fifth-section .swiper-slide:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    padding: 1rem;
    transform: translateY(-30px) translateX(-30px);
    z-index: -1;
}

/*Hover And Active, ...*/
.dv-hover-text-wheat:hover {color: var(--wheat) !important;}
.dv-hover-path-wheat:hover path{fill: var(--wheat);}
.dv-hover-bg-wheat:hover {background-color: var(--wheat) !important;}

/*Media Querys*/
@media (max-width: 991px) {
    .dv-mb-20 {margin-bottom: 0 !important;}
    .dv-prl-3, .dv-ptb-5 {padding: 1rem !important;}
    header > a {display: none !important;}
    header > div.w-25 {width: 50% !important;}
    .dv-second-section-main {grid-template-columns: repeat(3, 1fr);}
    .dv-second-section-main > .dv-grid-col-3{grid-column: span 2;}
    .dv-second-section-main > .dv-grid-row-2{grid-row: span 1;}
    .dv-third-section-slider, .dv-fourth-section-bottom {grid-template-columns: repeat(2, 1fr);}
    .dv-third-section-slider > a{height: 300px;}
    .dv-fifth-section > main {display: flex;flex-direction: column;}
    .dv-fifth-section > main > div {width: 100% !important;}
    footer > div{display: flex;flex-direction: column;}
    footer > div > a,
    footer > div > div,
    footer > div > div > ul.w-50{width: 100% !important;}
    footer > div {gap: 1rem !important;}
    .dv-fs-1vw {font-size: 3rem;}

    body > section:first-of-type .dv-home-defualt-swipers .swiper-slide {
        background-size: cover;
        justify-content: start !important;
    }
}

@media (max-width: 767px) {
    header > ul.d-inline-flex {display: none !important;}
    header > div.w-25 {width: 100% !important;}
    .dv-second-section-main {grid-template-columns: repeat(2, 1fr);}
    .dv-second-section-main > .dv-grid-col-3{grid-column: span 1;}
    .dv-second-section-main > .dv-grid-row-2{grid-row: span 1;}
    .dv-second-section-main > img:last-of-type{grid-column: span 2;}
}

@media (max-width: 575px) {
    .dv-second-section-main, .dv-fourth-section-bottom {grid-template-columns: repeat(1, 1fr);}
    .dv-second-section-main > img:last-of-type{grid-column: span 1;}
    footer > div > div > ul.justify-content-between {justify-content: center !important;}
    footer > div > div > ul.align-items-center {align-items: start !important;}
    footer > div > div > ul{gap: 1rem !important}
    .dv-third-section-slider.d-grid, footer > div > div > ul{
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-height: 507px) {
    body > section:nth-of-type(4) > main > div:first-of-type {margin-bottom: 10rem ;}
}

@media (max-height: 932px) {
    .dv-second-section-main > div:first-of-type,
    .dv-fifth-section > main > div:last-of-type{
        margin-bottom: 10rem;
    }
}