/*importing Poppins Font*/
@import url('../fonts/font-poppins.css');

/*Variables*/
:root {
    --dark:  #1F1F1F;
    --lighter-dark: #2a2a2a;
    --wheat: #FCBBA4;
}

/*Css Reset*/
img {pointer-events: none;}
button {cursor: pointer;}
a {text-decoration: none !important;}
ul,ol, li {margin: 0 !important;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px;
    background-color: var(--dark) !important;
}

/*Styles*/
.dv-bg-lighter-dark {background-color: var(--lighter-dark);}
.dv-transition {transition: .3s;}
.dv-bg-none {background-color: unset;}
.dv-fs-15 {font-size: 15px;}
.dv-ptb-1 {padding-bottom: 1rem !important;padding-top: 1rem !important;}
.dv-ptb-5 {padding-bottom: 5rem !important;padding-top: 5rem !important;}
.dv-prl-3 {padding-right: 3rem !important;padding-left: 3rem !important;}
.dv-minh-10vh {min-height: 10vh;}
.dv-minh-90vh {min-height: 90vh;}
.dv-fs-4vw {font-size: 4vw;}
.dv-fs-1vw {font-size: 1vw;}
.dv-text-wheat {color: var(--wheat) !important;}
body > section:first-of-type .swiper-button-prev:after ,
body > section:first-of-type .swiper-button-next:after {font-size: 20px !important;}
.dv-object-fit {object-fit: cover;}
.dv-grid-row-2 {grid-row: span 2;}
.dv-grid-col-3 {grid-column: span 3}
.dv-grid-col-2 {grid-column: span 2;}
.dv-wheat-pipe-content {top: 4rem;left: 7rem;}
.dv-wheat-pipe-content.dv-diffrent {left: 10rem !important;top: 10rem !important;}
.dv-mb-20 {margin-bottom: 20rem}
.aspect-ratio {aspect-ratio: 1/1;}
.dv-grid-tc-4 {grid-template-columns: repeat(4, 1fr);}
.dv-grid-tc-3 {grid-template-columns: repeat(3, 1fr);}
.dv-bg-cover {background-size: cover;}
.dv-third-section-slider > a:first-of-type {background-image: url("../img/third-section/img-1.png");height: 400px;}
.dv-third-section-slider > a:nth-of-type(2) {background-image: url("../img/third-section/img-2.png");}
.dv-third-section-slider > a:nth-of-type(3) {background-image: url("../img/third-section/img-3.png");height: 300px;}
.dv-third-section-slider > a:nth-of-type(4) {background-image: url("../img/third-section/img-4.png");}
.dv-third-section-slider > a:nth-of-type(5) {background-image: url("../img/third-section/img-5.png");}
body > section:first-of-type .swiper-button-prev ,
body > section:first-of-type .swiper-button-next{
    position: static !important;
    margin-top: 0 !important;
    color: white !important;
}

.dv-wheat-pipe {
    background-color: var(--wheat);
    width: 3px !important;
    height: 30vh !important;
    left: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

body > section:first-of-type .dv-home-defualt-swipers .swiper-slide {
    background-image: url("../img/first-section/img-1.png");
    background-size: 170vh;
    background-repeat: no-repeat;
    background-position: right;
}

/*Hover And Active, ...*/
.dv-hover-text-wheat:hover {color: var(--wheat) !important;}
.dv-hover-path-wheat:hover path{fill: var(--wheat);}
.dv-hover-bg-wheat:hover {background-color: var(--wheat) !important;}