/*importing Poppins Font*/
@import url('../fonts/font-poppins.css');

/*Variables*/
:root {
    --dark:  #1F1F1F;
    --lighter-dark: #3a3a3a;
    --wheat: #FCBBA4;
}

/*Css Reset*/
img {pointer-events: none;}
button {cursor: pointer;}
a {text-decoration: none !important;}
ul,ol, li {margin: 0 !important;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px;
    background-color: var(--dark) !important;
}

/*Styles*/
.dv-bg-lighter-dark {background-color: var(--lighter-dark);}
.dv-transition {transition: .3s;}
.dv-bg-none {background-color: unset;}
.dv-fs-15 {font-size: 15px;}
.dv-ptb-1 {padding-bottom: 1rem !important;padding-top: 1rem !important;}
.dv-ptb-5 {padding-bottom: 5rem !important;padding-top: 5rem !important;}
.dv-prl-3 {padding-right: 3rem !important;padding-left: 3rem !important;}
.dv-minh-10vh {min-height: 10vh;}
.dv-minh-90vh {min-height: 90vh;}
.dv-fs-4vw {font-size: 4vw;}
.dv-fs-1vw {font-size: 1vw;}
.dv-text-wheat {color: var(--wheat) !important;}
.dv-home-first-section-swiper .swiper-button-prev:after ,
.dv-home-first-section-swiper .swiper-button-next:after {font-size: 20px !important;}
.dv-second-section-main {grid-template-columns: repeat(4, 1fr);}
.dv-object-fit {object-fit: cover;}
.dv-second-section-main > img:first-of-type {grid-row: span 2;}
.dv-second-section-main > div {grid-column: span 3;}
.dv-wheat-pipe-content {top: 4rem;left: 7rem;}
.dv-home-first-section-swiper .swiper-button-prev ,
.dv-home-first-section-swiper .swiper-button-next{
    position: static !important;
    margin-top: 0 !important;
    color: white !important;
}

.dv-wheat-pipe {
    background-color: var(--wheat);
    width: 3px !important;
    height: 30vh !important;
    left: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.dv-home-first-section-swiper .swiper-slide {
    background-image: url("../img/first-section/img-1.png");
    background-size: 170vh;
    background-repeat: no-repeat;
    background-position: right;
}

/*Hover And Active, ...*/
.dv-hover-text-wheat:hover {color: var(--wheat) !important;}
.dv-hover-path-wheat:hover path{fill: var(--wheat);}
.dv-hover-bg-wheat:hover {background-color: var(--wheat) !important;}